<h1>Helpers testing</h1>
<section class="test-app-section">
  <div class="test-app-power-select select-choose">
    <PowerSelect
      @labelText="Select Choose"
      @options={{this.numbers}}
      @selected={{this.selected}}
      @onChange={{fn (mut this.selected)}}
      as |num|
    >
      {{num}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select select-choose-onopen">
    <PowerSelect
      @labelText="Select Choose OnOpen"
      @onOpen={{this.onOpenHandle}}
      @options={{this.optionz}}
      @selected={{this.selected}}
      @onChange={{fn (mut this.selected)}}
      @allowClear={{true}}
      as |num|
    >
      {{num}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select select-choose-onopen-multiple">
    <PowerSelectMultiple
      @labelText="Select Choose OnOpen Multiple"
      @onOpen={{this.onOpenHandle}}
      @options={{this.optionz}}
      @selected={{this.selected2}}
      @onChange={{fn (mut this.selected2)}}
      as |num|
    >
      {{num}}
    </PowerSelectMultiple>
  </div>

  <div>
    <PowerSelect
      @labelText="Select with CSS Class in Trigger"
      @triggerClass="test-app-power-select select-with-class-in-trigger"
      @options={{this.numbers}}
      @selected={{this.selected}}
      @onChange={{fn (mut this.selected)}}
      @searchEnabled={{true}}
      as |num|
    >
      {{num}}
    </PowerSelect>
  </div>

  {{#if this.selected}}
    <span class="select-choose-target">You've selected: {{this.selected}}</span>
  {{/if}}

  <div class="test-app-power-select select-async">
    <PowerSelect
      @labelText="Select Async"
      @selected={{this.selected}}
      @onChange={{fn (mut this.selected)}}
      @search={{this.searchAsync}}
      @searchEnabled={{true}}
      as |num|
    >
      {{num}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select select-multiple">
    <PowerSelectMultiple
      @labelText="Select Multiple"
      @options={{this.numbers}}
      @selected={{this.selectedList}}
      @onChange={{fn (mut this.selectedList)}}
      @searchEnabled={{true}}
      as |num|
    >
      {{num}}
    </PowerSelectMultiple>
  </div>

  <div id="test-app-power-select select-multiple-async">
    <PowerSelectMultiple
      @labelText="Select Multiple Async"
      @options={{this.numbers}}
      @selected={{this.asyncSelectedList}}
      @onChange={{fn this.onChangeAsync "asyncSelectedList"}}
      as |num|
    >
      {{num}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select select-deselect-async">
    <PowerSelect
      @labelText="Select Deselect Async"
      @options={{this.numbers}}
      @selected={{this.asyncSelected}}
      @onChange={{fn this.onChangeAsync "asyncSelected"}}
      @allowClear={{true}}
      as |num|
    >
      {{num}}
    </PowerSelect>
  </div>

  <h2 class="t3">Customized component</h2>
  <p><strong>A11y issues:</strong></p>
  <ul>
    <li>label’s “for” attribute isn’t associated with the search input (it’s associated with a div instead)</li>
    <li>Search input needs an id (so that the label’s “for” attribute can reference it)</li>
    <li>Search input aria-controls value is invalid</li>
  </ul>

  <div class="test-app-power-select select-custom-search">
    <PowerSelect
      @labelText="Custom Search"
      @selected={{this.selected3}}
      @onChange={{fn (mut this.selected3)}}
      @search={{this.searchAsync}}
      @beforeOptionsComponent={{null}}
      @triggerComponent={{component "custom-trigger-with-search"}}
      as |num|
    >
      {{num}}
    </PowerSelect>
  </div>
</section>