{{page-title "PowerSelect Component"}}

<h1>PowerSelect</h1>

<section class="test-app-section">
  <h2>Single selection</h2>
  <h3>Interaction</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Default"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>
  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Default with aria-describedby"
      @ariaDescribedBy="default-aria-describedby"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
    <p id="default-aria-describedby">Some type of help text. Note that I am not able to change the position to be beneath the label for the dropdown, which is what I would expect.</p>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Selected"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Search enabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Search enabled with custom placeholder"
      @searchPlaceholder="Custom placeholder"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>States</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="States: Default"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      class="mock-focus"
      @labelText="States: Focus"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="States: Disabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @disabled={{true}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>List position</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="List position: Below (default)"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="List position: Above"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @verticalPosition="above"
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select test-app-power-select-narrow">
    <PowerSelect
      @labelText="List width matches trigger width"
      @matchTriggerWidth="true"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>
  <div class="test-app-power-select test-app-power-select-narrow">
    <PowerSelect
      @labelText="List width does not match trigger width"
      @matchTriggerWidth="false"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
    <p>Note: it doesn't seem to make a difference.</p>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>Placeholder</h3>

  <p>
    <strong>Failures:</strong>
  </p>
  <ul>
    <li>
      ARIA input fields do not have accessible names.<br>
      (Fix by adding aria-label to PowerSelect)
    </li>
    <li>
      Background and foreground colors do not have a sufficient contrast ratio<br>
      (Fix by modifying styles)
    </li>
  </ul>

  {{!-- 
    ariaLabel intentionally missing from below to replicate a common consumer use case (we can discuss 
    if we want to support this or revert the "fix" I added to insert an ariaLabel automatically using 
    the placeholder value.)
  --}}
  <div class="test-app-power-select">
    <PowerSelect
      @placeholder="Placeholder Text"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>After & before options</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @initiallyOpened={{true}}
      @labelText="afterOptionsComponent"
      @afterOptionsComponent={{component
        "custom-after-options-two"
      }}
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @selected={{@model.SELECTED}}
      as |option select|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @initiallyOpened={{true}}
      @labelText="beforeOptionsComponent"
      @beforeOptionsComponent={{component
        "custom-before-options-two"
      }}
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @selected={{@model.SELECTED}}
      as |option select|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>Inherited text color from wrapper element</h3>

  <div class="parent-text-color-test">
    <div class="test-app-power-select">
      <PowerSelect
        @labelText="Selected"
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @onChange={{fn (mut this.selected)}}
        @renderInPlace={{true}}
        as |option|
      >
        {{option}}
      </PowerSelect>
    </div>

    <div class="test-app-power-select">
      <PowerSelect
        @labelText="Disabled"
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @onChange={{fn (mut this.selected)}}
        @disabled={{true}}
        @renderInPlace={{true}}
        as |option|
      >
        {{option}}
      </PowerSelect>
    </div>

    <div class="test-app-power-select">
      <PowerSelect
        @ariaLabel="placeholder with text color inherited from wrapper element"
        @placeholder="Placeholder Text"
        @options={{@model.OPTIONS}}
        @onChange={{fn (mut this.selected)}}
        @renderInPlace={{true}}
        as |option|
      >
        {{option}}
      </PowerSelect>
    </div>

    <div class="test-app-power-select">
      <PowerSelect
        @labelText="Search enabled with custom placeholder"
        @searchPlaceholder="Custom placeholder"
        @options={{@model.OPTIONS}}
        @selected={{@model.SELECTED}}
        @onChange={{fn (mut this.selected)}}
        @renderInPlace={{true}}
        @searchEnabled={{true}}
        as |option|
      >
        {{option}}
      </PowerSelect>
    </div>
  </div>

  <hr class="shw-divider" />

  <h2>Multiple selection</h2>

  <h3>Interaction</h3>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="Default"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="Selected"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="Search enabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>States</h3>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="States: Default"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      class="mock-focus"
      @labelText="States: Focus"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="States: Disabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @disabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

</section>