{{page-title "PowerSelect Component"}}

<h1>PowerSelect</h1>

<section class="test-app-section">
  <h2>Single selection</h2>
  <h3>Interaction</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Default"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Selected"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="Search enabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>States</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="States: Default"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      class="mock-focus"
      @labelText="States: Focus"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="States: Disabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @disabled={{true}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>List position</h3>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="List position: Below (default)"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="test-app-power-select">
    <PowerSelect
      @labelText="List position: Above"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTED}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @verticalPosition="above"
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>Placeholder</h3>
  
  <p>
    <strong>Failures:</strong>
  </p>
  <ul>
    <li>ARIA input fields do not have accessible names.</li>
    <li>
      Background and foreground colors do not have a sufficient contrast ratio<br>
      (Fix by modifying styles)
    </li>
  </ul>

  <div class="test-app-power-select">
    <PowerSelect
      @ariaLabel="select with placeholder text and non-visible label"
      @placeholder="Placeholder Text"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <hr class="shw-divider" />

  <h2>Multiple selection</h2>

  <h3>Interaction</h3>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="Default"
      @options={{@model.OPTIONS}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="Selected"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="Search enabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <hr class="shw-divider shw-divider-level-2" />

  <h3>States</h3>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="States: Default"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @searchEnabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      class="mock-focus"
      @labelText="States: Focus"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

  <div class="test-app-power-select">
    <PowerSelectMultiple
      @labelText="States: Disabled"
      @options={{@model.OPTIONS}}
      @selected={{@model.SELECTEDMULTIPLE}}
      @onChange={{fn (mut this.selected)}}
      @renderInPlace={{true}}
      @disabled={{true}}
      as |option|
    >
      {{option}}
    </PowerSelectMultiple>
  </div>

</section>